/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* end of css reset */

/* MOBILE FIRST DESIGN */

/* fonts */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

/* color palete */

:root {
  --button: #638a5c;
  --detail-text-home: #6f6f6f;
}

body {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
}

header {
  margin-top: 1em;
  position: relative;
  display: flex;
  align-items: center;
  padding: 1em;
}

.logo-top {
  max-width: 45%;
}

nav {
  display: none;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 1em;
}

nav ul a {
  text-decoration: none;
  list-style: none;
  color: black;
  cursor: pointer;
}

/* mobile navigaition */

.hamburger-icon {
  display: block;
  position: absolute;
  right: 1em;
  z-index: 2000;
  transition: 0.4s;
}

.bar {
  background-color: black;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: block;
}

.hamburger-icon.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger-icon.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.mobile-nav-positioning {
  display: flex;
  justify-content: center;
  padding-top: 3.5em;
}

.mobile-nav {
  display: none;
  position: absolute;
  height: 100vh;
  background-color: rgba(1, 1, 1, 0.8);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.mobile-nav ul {
  padding: 2em;
}

.mobile-nav li {
  padding: 0.5em;
  transition: 0.4s;
}

.mobile-nav ul a {
  text-decoration: none;
  list-style: none;
  cursor: pointer;
  color: white;
  font-size: 1.5rem;
}

.show-nav {
  display: block;
}

.transform-white {
  background-color: white;
  border-radius: 5px;
  transition: 0.4s;
}

/* mobile nav hover */

.mobile-nav li:hover {
  background-color: #ece481;
  color: black;
  border-radius: 5px;
  transition: 0.4s;
}

/* hero section */

.hero-section {
  padding: 2em 1em 2em 1em;
  background-image: url(/images/home-hero.jpg);
  background-repeat: none;
  background-size: cover;
  display: grid;
  min-height: 300px;
  position: relative;
}

.hero-section h1 {
  color: white;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.1;
}

h1 span {
  color: #ece481;
}

.hero-section p {
  margin-top: 1em;
  font-size: 1rem;
  color: white;
}

/* search bar */

.search-bar {
  margin-top: 3em;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  padding: 0.2em 0.5em;
  border-radius: 5px;
}

.search-bar p {
  margin: 0;
  padding-right: 0.5em;
}

input[type="text"] {
  border: none;
  width: 100%;
}

.search-bar button {
  margin-left: 1em;
  margin-right: 0;
  background-color: var(--button);
  border: none;
  color: white;
  padding: 0.2em 0.5em;
}

button {
  margin-right: 0;
  background-color: var(--button);
  border: none;
  border-radius: 5px;
  color: white;
  padding: 0.4em 0.5em;
  text-transform: uppercase;
  font-size: 0.9rem;
  cursor: pointer;
  transition: 0.4s;
}

button:hover {
  background-color: lightgreen;
  transition: 0.4s;
}

input[type="text"]::placeholder {
  color: #cacaca;
}

input[type="text"]:focus {
  outline: none;
}

/* h2 */

.h2-home {
  margin-top: 0.5em;
  padding: 0 0.5em;
  color: #565656;
  font-size: 1.3rem;
}

/* main section */

main {
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
}

.box-2 {
  display: flex;
  flex-direction: column-reverse;
}

.details-box {
  padding: 1em;
}

.details-description {
  margin-top: 1em;
  color: var(--detail-text-home);
  font-size: 0.8625rem;
}

.details-box button {
  margin-top: 1em;
}

/* notification section */

.notification-section {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 3em;
}

.notification-box {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.notification-box h4 {
  margin-top: 0.5em;
}

.notification-box p {
  margin-top: 0.5em;
  max-width: 300px;
  font-size: 0.7rem;
}

.notification-img {
  padding-top: 1em;
  height: 50px;
}

.location-thumbnail {
  cursor: pointer;
  width: 100%;
}

footer {
  background-color: black;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  padding: 1em;
  gap: 1em;
}

.logo-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo-box p {
  margin-top: 1em;
  color: lightgray;
  font-size: 0.5rem;
}

.logo-bottom {
  width: 30%;
}

.footer-menu ul {
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 0;
  font-size: 0.6725rem;
}

.footer-menu ul li {
  cursor: pointer;
}

.footer-menu a {
  color: white;
  text-decoration: none;
  list-style: none;
}

.footer-menu ul a:last-child {
  color: black;
}

.footer-menu ul a:last-child:hover {
  border: 1px solid white;
}

/* explore page */

.explore-main-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.explore-h2 {
  margin-top: 1em;
  font-size: 1.3rem;
  font-weight: 600;
  color: #565656;
  padding-left: 1em;
}

.left-box {
  margin-top: 1em;
}

.left-box h3 {
  padding-top: 1em;
}

.left-box p {
  font-size: 0.9625rem;
}

.left-box p:nth-last-child(1) {
  margin-top: 1em;
  color: var(--detail-text-home);
  font-size: 0.8625rem;
}

.explore-right {
  display: none;
}

/* sign-up button */

/* log-in button */

/****** MEDIA QUERIES ******/
/* tablet / desktop responsiveness  */

@media (min-width: 720px) {
  nav {
    display: block;
    margin-left: auto;
  }

  ul a:nth-last-child(2) {
    background-color: green;
    padding: 0.5em 1em;
    color: white;

    border-radius: 5px;
  }

  ul a:last-child {
    border: 1px solid black;
    background-color: white;
    padding: 0.5em 1em;

    border-radius: 5px;
  }

  ul a:nth-last-child(2):hover {
    background-color: lightgreen;
    transition: 0.4s;
  }

  ul a:last-child:hover {
    background-color: black;
    color: white;
    transition: 0.4s;
  }

  .hero-section {
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
  }
  .hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: rgba(1, 1, 1, 0.6);
    z-index: 1;
  }
  .hero-left-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
  }
  .hero-right-col {
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
  }

  .hamburger-icon {
    display: none;
  }

  .mobile-nav {
    display: none;
  }
}

/* small desktop  */

@media (min-width: 1100px) {
  nav ul {
    gap: 3em;
  }

  .hero-section {
    min-height: 500px;
  }
  .search-bar {
    padding: 1em;
  }

  .hero-section h1 {
    font-size: 4rem;
    line-height: 1.1;
  }

  .hero-section p {
    font-size: 1.5rem;
  }

  button {
    padding: 0.7em 1em;
  }

  input[type="text"] {
    font-size: 1.2rem;
  }

  input[type="text"]::placeholder {
    font-size: 1rem;
  }

  .search-bar button {
    padding: 0.7em 1em;
  }

  .h2-home {
    font-size: 1.8rem;
  }

  .location-box {
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    gap: 2em;
  }
  .details-box {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .details-box h3 {
    font-size: 2rem;
  }

  .details-box p {
    font-size: 1.1rem;
  }

  .button-padding-remove {
    max-width: 150px;
  }

  .notification-section {
    margin-top: 2em;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;
  }

  .notification-box h4 {
    margin-top: 0.5em;
    font-size: 1.2rem;
  }

  .notification-box p {
    margin-top: 0.5em;
    padding-bottom: 0.5em;
    max-width: 300px;
    font-size: 1rem;
  }

  .notification-img {
    padding-top: 1em;
    height: 50px;
  }

  .footer-menu ul li {
    font-size: 1rem;
  }
  /* explore page */

  .explore-main-section {
    padding-top: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
  }

  .explore-h2 {
    margin-bottom: 2em;
  }

  .explore-left {
    margin-top: 0;
  }

  .left-box {
    margin-top: 2;
  }

  .left-box h3 {
    font-size: 1.5rem;
    padding-top: 0;
  }

  .desktop-row {
    /* margin-top: 2em; */
    display: flex;
    justify-content: space-between;
  }

  .desktop-row img {
    order: 2;
    aspect-ratio: 16/9;
    width: 20%;
  }

  .desktop-row-inner {
    padding-right: 1em;
  }

  .desktop-row-inner h3 {
    font-size: 2rem;
  }

  .left-box p:nth-last-child(1) {
    font-size: 1.2rem;
  }

  .border-bottom {
    padding-bottom: 1em;
    border-bottom: 1px solid lightgray;
  }

  .explore-right {
    display: block;
  }
}
